.contato{
    justify-content: center;
    align-items: center;
    margin-left: 550px;
}


.logo img{
    width: 100px;
}

body h1{
    color: white;
    font-size: 50px;
    margin: 0px;
    padding: 0px;
    /*position: absolute;*/
    /*left: 560px;*/
    /*top: 10px;*/
}

body{
    background-color: #636161;
    gap: 50px;
}

/* From Uiverse.io by nathann09 */
.form {
    background-color: #fff;
    display: block;
    padding: 1rem;
    max-width: 350px;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.form-title {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
    text-align: center;
    color: #000;
}

.input-container {
    position: relative;
}

.input-container input, .form button {
    outline: none;
    border: 1px solid #e5e7eb;
    margin: 8px 0;
}

.input-container input {
    background-color: #fff;
    padding: 1rem;
    padding-right: 3rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    width: 300px;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.submit {
    display: block;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    background-color: #4F46E5;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    width: 100%;
    border-radius: 0.5rem;
    text-transform: uppercase;
}

.signup-link {
    color: #6B7280;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: center;
}

.signup-link a {
    text-decoration: underline;
}

hr{
    width: 100%;
}

.Redessociais{
    background-color: #FFFFFF;
    margin: 0px;
    border-radius: 40px;
}

.RedesSociais img{
    width: 200px;
    height: 200px;
    border-radius: 50px;
}

h2{
    font-size: 30px;
    padding-top: 40px ;
    margin-left: 500px;
    color: #786104;
    margin-bottom: 80px;
}

.RedesSociais{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
    margin-bottom: 80px;
}

.RedesSociais p{
    font-size: 1.5rem;
}

.redes{
    display: flex;
    justify-content: space-around;
}

footer{
    background-color: #0c0c0c;
    height: 200px;
    align-items: center;
    margin: 0px;
}

.CobrakaiRodapeItens{
    padding-top: 40px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    /*background-color: #0c0c0c;*/
}

.CobrakaiRodapeItens h3{
    color: ghostwhite;
    text-align: center;
}

.CobrakaiRodapeItens img{
    width: 100px;
}