<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
    <link rel="stylesheet" href="../static/css/estiloContato.css">
</head>
<body>
    <section class="contato">
        <div>
            <h1>Página de contato</h1>
        </div>

        <div class="logo">
            <a href="../index.html"><img src="../static/img/LogoCK.png" alt="LogoCK"></a>
        </div>
        <form class="form">
            <p class="form-title">Mande uma mensagem</p>
            <div class="input-container">
                <input type="text" placeholder="Seu nome">
                <span>
          </span>
            </div>
            <div class="input-container">
                <input type="text" placeholder="Seu email">
            </div>
            <div class="input-container">
                <input type="text" placeholder="Escreva uma mensagem">
            </div>
            <button type="submit" class="submit">
                Enviar
            </button>

<!--            <p class="signup-link">-->
<!--                No account?-->
<!--                <a href="">Sign up</a>-->
<!--            </p>-->
        </form>

    </section>
    <br>
    <hr>
    <section class="Redessociais">
        <h2>Conha a redes socias oficiais da série *</h2>
        <div class="redes">
            <div class="RedesSociais">
                <img src="../static/img/instagram.png" alt="RedesSociais">
                <p><a href="https://www.instagram.com/cobrakaiseries/">@cobrakaiseries</a></p>
            </div>
            <div class="RedesSociais">
                <img src="../static/img/facebook.jpeg" alt="RedesSociais">
                <p><a href="https://www.facebook.com/CobraKaiSeries?locale=pt_BR">@Cobra Kai</a></p>
            </div>
            <div class="RedesSociais">
                <img src="../static/img/NetflixLogo.png" alt="RedesSociais">
                <p><a href="https://www.google.com/search?q=netflix&rlz=1C1GCEU_pt-BRBR1147BR1147&oq=&gs_lcrp=EgZjaHJvbWUqCQgAECMYJxjqAjIJCAAQIxgnGOoCMgkIARAjGCcY6gIyCQgCECMYJxjqAjIJCAMQIxgnGOoCMgkIBBAjGCcY6gIyCQgFECMYJxjqAjIJCAYQLhgnGOoCMg8IBxAuGCcYxwEY6gIY0QPSAQg4MjFqMGoxNagCCLACAfEFmjwnSDotJWTxBZo8J0g6LSVk&sourceid=chrome&ie=UTF-8">Netiflix Brasil</a></p>
            </div>
        </div>
    </section>
    <footer>
        <div class="CobrakaiRodape">
            <div class="CobrakaiRodapeItens">
                <img src="../static/img/LogoCK.png" alt="RodapeImg">
                <h3>Todos os direitos Reservados  |  Cobra kai</h3>
                <img src="../static/img/NetflixLogo.png" alt="RodapeImg">
            </div>
        </div>
    </footer>
</body>
</html>