<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diretores</title>
    <link rel="stylesheet" href="../static/css/DiretorEstilo.css">
</head>
<body>
<header class="cabecarioHeader">


    <div class="Menus">

        <div class="logo">
            <a href="../index.html"><img src="../static/img/LogoCK.png" alt="LogoCK"></a>
        </div>

        <div class="vermelho1">

        </div>

        <div>
            <nav>
                <ul>
                    <li class="menus"><a href="sobre.html">Sobre</a>
                    <li class="menus"><a href="elenco.html">Elenco</a>
                        <ul class="submenus">
                            <li class="submenu"><a href="diretor.html">Diretor</a></li>
                        </ul></li>
                    <li class="menus"><a href="galeria.html">Galeria</a>
                    <li class="menus"><a href="episodeos.html">Episódios</a>
                        <ul class="submenus">
                            <li class="submenu"><a href="galeria.html">Cenas Marcantes</a></li>
                        </ul></li>
                    <li class="menus"><a href="contato.html">Contato</a></li>
                </ul>
            </nav>
        </div>

        <div class="vermelho2">
            .
        </div>

    </div>

</header>
<main>

    <section class="CobraKaiElenco">
        <div class="CobraKaiH2">
            <h2>Diretores</h2>
            <img src="../static/img/EmojiAtor.png" alt="Emoji">
        </div>
        <div class="Elenco">
            <div class="Atores">
                <img src="../static/img/JonHurwitz.jpg" alt="ator">
                <p class="NomeAtor">Jon Hurwitz</p>
                <p>Roteirista americano</p>
            </div>
            <div class="Diretor">
                <div class="DiretorBio">
                    <h2>Biográfia</h2>
                    <p>Jon Hurwitz é um roteirista, produtor e diretor americano mais conhecido por seu trabalho em filmes de comédia e televisão.
                        Ele co-criou a popular série da Netflix Cobra Kai , que continua a história da franquia Karate Kid .
                        Junto com seu parceiro de escrita Hayden Schlossberg, Hurwitz também co-escreveu e dirigiu filmes como Harold & Kumar
                        Go to White Castle e American Reunion .</p>
                </div>
                <div class="DiretorObras">
                    <h2>Obras Anteriores</h2>
                    <ul>
                        <li><strong>Harold & Kumar Go to White Castle</strong> (2004) – Roteirista</li>
                        <li><strong>Harold & Kumar Escape from Guantanamo Bay</strong> (2008) – Roteirista e diretor</li>
                        <li><strong>Um Natal Muito Harold & Kumar 3D </strong>(2011) – Produtor</li>
                        <li><strong>American Reunion</strong> (2012) – Roteirista e diretor</li>
                        <li><strong>Cobra Kai</strong> (2018–presente) – Criador, escritor e produtor executivo.
                            Esta série retoma a história de Karatê Kid , com foco em Johnny Lawrence e Daniel LaRusso em suas vidas adultas.</li>
                        <li><strong>Blockbuster</strong> (2022) – Produtor Executivo</li>
                    </ul>
                </div>
            </div>
            <div class="Elenco">
                <div class="Atores">
                    <img src="../static/img/Hayden.jpg" alt="ator">
                    <p class="NomeAtor">Hayden Schlossberg</p>
                    <p>Roteirista americano</p>
                </div>
                <div class="Diretor">
                    <div class="DiretorBio2">
                        <h2>Biográfia</h2>
                        <p>Hayden Schlossberg é um cineasta americano conhecido por seu trabalho no gênero de comédia,
                            frequentemente colaborando com Jon Hurwitz. Eles se conheceram no ensino médio e formaram
                            uma parceria criativa que os levou a Hollywood. O primeiro grande sucesso da dupla foi com
                            Harold & Kumar Go to White Castle (2004), uma comédia que se destacou pelo humor irreverente
                            e pela abordagem inusitada sobre estereótipos culturais. O sucesso do filme resultou em duas
                            sequências: Harold & Kumar Escape from Guantanamo Bay (2008), que Schlossberg co-escreveu e c
                            o-dirigiu, e A Very Harold & Kumar 3D Christmas (2011), onde atuou como produtor..</p>
                    </div>
                    <div class="DiretorObras">
                        <h2>Obras Anteriores</h2>
                        <ul>
                            <li><strong>Harold & Kumar Go to White Castle </strong>(2004) – Co-roteirista</li>
                            <li><strong>Harold & Kumar Escape from Guantanamo Bay</strong>  (2008) – Co-roteirista e co-diretor</li>
                            <li><strong>Um Natal Muito Harold & Kumar 3D </strong>(2011) – Produtor</li>
                            <li><strong>American Reunion</strong> (2012) – Co-roteirista e co-diretor</li>
                            <li><strong>Cobra Kai</strong> (2018-presente) – Co-criador, roteirista e produtor executivo</li>
                            <li><strong>Blockers</strong> (2018) – Produtor</li>
                        </ul>
                    </div>
                </div>
        </div>
        <div class="BotaoElenco">
            <button><span><a href="../templates/elenco.html">Ver Elenco</a></span></button>
        </div>
    </section>
</main>
<footer>
    <div class="CobrakaiRodape">
        <div class="CobrakaiRodapeItens">
            <img src="../static/img/LogoCK.png" alt="RodapeImg">
            <h3>Todos os direitos Reservados  |  Cobra kai</h3>
            <img src="../static/img/NetflixLogo.png" alt="RodapeImg">
        </div>
    </div>
</footer>
</body>
</html>