<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elenco</title>
    <link rel="stylesheet" href="../static/css/estiloElenco.css">
</head>
<body>
<header class="cabecarioHeader">


    <div class="Menus">

        <div class="logo">
            <a href="../index.html"><img src="../static/img/LogoCK.png" alt="LogoCK"></a>
        </div>

        <div class="vermelho1">

        </div>

        <div>
            <nav>
                <ul>
                    <li class="menus"><a href="sobre.html">Sobre</a>
                    <li class="menus"><a href="elenco.html">Elenco</a>
                        <ul class="submenus">
                            <li class="submenu"><a href="diretor.html">Diretor</a></li>
                        </ul></li>
                    <li class="menus"><a href="galeria.html">Galeria</a>
                    <li class="menus"><a href="episodeos.html">Episódios</a>
                        <ul class="submenus">
                            <li class="submenu"><a href="galeria.html">Cenas Marcantes</a></li>
                        </ul></li>
                    <li class="menus"><a href="contato.html">Contato</a></li>
                </ul>
            </nav>
        </div>

        <div class="vermelho2">
            .
        </div>

    </div>

</header>
<main>

    <section class="CobraKaiElenco">
        <div class="CobraKaiH2">
            <h2>Elenco</h2>
            <img src="../static/img/EmojiAtor.png" alt="Emoji">
        </div>
        <div class="Elenco">
            <div class="Atores">
                <img src="../static/img/Xolo.jfif" alt="ator">
                <p class="NomeAtor">Miguel Diaz</p>
                <p>Xolo Maridueña</p>
            </div>
            <div class="Atores">
                <img src="../static/img/DanielLarusso.jfif" alt="ator">
                <p class="NomeAtor">Daniel Larusso</p>
                <p>Ralph Macchio</p>
            </div>
            <div class="Atores">
                <img src="../static/img/Johnny.jpg" alt="ator">
                <p class="NomeAtor">Johnny Lawrence</p>
                <p>William Zabka</p>
            </div>
            <div class="Atores">
                <img src="../static/img/RobbyKeene.jpg" alt="ator">
                <p class="NomeAtor">Robby Keene</p>
                <p>Tanner Buchanan</p>
            </div>
        </div>
        <div class="Elenco">
            <div class="Atores">
                <img src="../static/img/Falcao.jpg" alt="ator">
                <p class="NomeAtor">Eli Moskowitz</p>
                <p>Jacob Bertrand</p>
            </div>
            <div class="Atores">
                <img src="../static/img/Tory.jfif" alt="ator">
                <p class="NomeAtor">Tory Nichols</p>
                <p>Peyton Roi List</p>
            </div>
            <div class="Atores">
                <img src="../static/img/samantha.jpg" alt="ator">
                <p class="NomeAtor"> Samantha LaRusso</p>
                <p>Mary Mouser</p>
            </div>
            <div class="Atores">
                <img src="../static/img/Amanda.jpg" alt="ator">
                <p class="NomeAtor">Amanda LaRusso</p>
                <p>Courtney Henggeler</p>
            </div>
        </div>
        <div class="Elenco">
            <div class="Atores">
                <img src="../static/img/Kreese.jfif" alt="ator">
                <p class="NomeAtor">John Kreese</p>
                <p>Martin Kove</p>
            </div>
            <div class="Atores">
                <img src="../static/img/Demitri.jpg" alt="ator">
                <p class="NomeAtor">Demetri Alexopoulos</p>
                <p>Gianni DeCenzo</p>
            </div>
            <div class="Atores">
                <img src="../static/img/TerrySilver.jpg" alt="ator">
                <p class="NomeAtor">Terry Silver</p>
                <p>Thomas Ian Griffith</p>
            </div>
            <div class="Atores">
                <img src="../static/img/Kenny.jpg" alt="ator">
                <p class="NomeAtor">Kenny Payne</p>
                <p>Dallas Dupree Young</p>
            </div>
        </div>
        <div class="BotaoElenco">
            <button><span><a href="../templates/elenco.html">Ver Diretor</a></span></button>
        </div>
    </section>
</main>
<footer>
    <div class="CobrakaiRodape">
        <div class="CobrakaiRodapeItens">
            <img src="../static/img/LogoCK.png" alt="RodapeImg">
            <h3>Todos os direitos Reservados  |  Cobra kai</h3>
            <img src="../static/img/NetflixLogo.png" alt="RodapeImg">
        </div>
    </div>
</footer>
</body>
</html>