<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Episódeos</title>
    <link rel="stylesheet" href="../static/css/EPestilo.css">
</head>
<body>

<header class="cabecarioHeader">

    <div class="logo">
        <a href="../index.html"><img src="../static/img/LogoCK.png" alt="LogoCK"></a>
    </div>

    <div class="Menus">

        <div class="vermelho1">

        </div>

        <div>
            <nav>
                <ul>
                    <li class="menus"><a href="sobre.html">Sobre</a>
                    <li class="menus"><a href="elenco.html">Elenco</a>
                        <ul class="submenus">
                            <li class="submenu"><a href="diretor.html">Diretor</a></li>
                        </ul></li>
                    <li class="menus"><a href="galeria.html">Galeria</a>
                    <li class="menus"><a href="episodeos.html">Episódios</a>
                        <ul class="submenus">
                            <li class="submenu"><a href="galeria.html">Cenas Marcantes</a></li>
                        </ul></li>
                    <li class="menus"><a href="contato.html">Contato</a></li>
                </ul>
            </nav>
        </div>

        <div class="vermelho2">

        </div>

    </div>
</header>

<section class="ep">
    <h2>Episódios</h2>
</section>
<hr>

<section class="conteudo">
    <div class="temporada">
        <h3>Temporada1</h3>
    </div>

    <div class="epizodios">
        <div class="ep1">
            <iframe src="https://www.youtube.com/embed/QIQpBFPitpU?si=sbfSLoC2lSYDmNXf" title="YouTube video player" frameborder="0"></iframe>
            <h3>Episódio 1</h3>
            <div class="info">

                <div class="c14">
                    <img src="../static/img/classificacao14.jpg" alt="14">
                </div>

                <div class="duracao">
                    <p>12 min</p>
                </div>

                <div class="ano">
                    <p>2018</p>
                </div>


            </div>
            <p>Degenerado. A abusar da bebida e a viver na sombra de Daniel, o seu ex-rival que tem uma vida de sucesso, Johnny bate no fundo e decide reabrir o dojo de karaté Cobra Kai.</p>
        </div>

        <div class="ep2">
            <iframe src="https://www.youtube.com/embed/nh3V7ZhBGAY?si=OQ_es_KffxNLApUi" title="YouTube video player" frameborder="0"></iframe>
            <h3>Episódio 2</h3>
            <div class="info">

                <div class="c14">
                    <img src="../static/img/classificacao14.jpg" alt="14">
                </div>

                <div class="duracao">
                    <p>4 min</p>
                </div>

                <div class="ano">
                    <p>2018</p>
                </div>


            </div>
            <p>Enquanto isso, Daniel LaRusso continua sua vida, mas começa a perceber que, apesar de seu sucesso, algo está faltando. Sua família e amigos começam a notar como ele está distante e preocupado com o que está acontecendo no bairro, especialmente com o retorno de Johnny.</p>
        </div>

        <div class="ep3">
            <iframe src="https://www.youtube.com/embed/cM4-reNDQIQ?si=84vzF8_PfF6FWQaa" title="YouTube video player" frameborder="0"></iframe>
            <h3>Episódio 3</h3>
            <div class="info">

                <div class="c14">
                    <img src="../static/img/classificacao14.jpg" alt="14">
                </div>

                <div class="duracao">
                    <p>2 min</p>
                </div>

                <div class="ano">
                    <p>2018</p>
                </div>


            </div>
            <p>"Esqueleto", Miguel começa a treinar oficialmente no dojo Cobra Kai sob a orientação de Johnny Lawrence. Johnny o submete a métodos de treinamento duros e pouco ortodoxos, reforçando a filosofia "Sem piedade" do Cobra Kai.</p>
        </div>

        <div class="ep4">
            <iframe src="https://www.youtube.com/embed/kRn-o9NX5AE?si=AB9Cbe5KXVvR4W3j" title="YouTube video player" frameborder="0"></iframe>
            <h3>Episódio 4</h3>
            <div class="info">

                <div class="c14">
                    <img src="../static/img/classificacao14.jpg" alt="14">
                </div>

                <div class="duracao">
                    <p>3 min</p>
                </div>

                <div class="ano">
                    <p>2018</p>
                </div>

            </div>
            <p>"Cobra Kai Nunca Morre", Johnny intensifica o treinamento de Miguel, forçando-o a enfrentar desafios físicos extremos para fortalecer seu corpo e mente. Aos poucos, Miguel começa a demonstrar progresso e adotar a filosofia do Cobra Kai.</p>
        </div>

    </div>
    <hr>
    <div class="temporada2">
        <h3>Temporada2</h3>
    </div>

    <div class="epizodios2">
        <div class="ep1">
            <iframe src="https://www.youtube.com/embed/BSrX697FOIs?si=yYseTlbCrTMCiAW8" title="YouTube video player" frameborder="0"></iframe>
            <h3>Episódio 1</h3>
            <div class="info">

                <div class="c14">
                    <img src="../static/img/classificacao14.jpg" alt="14">
                </div>

                <div class="duracao">
                    <p>3 min</p>
                </div>

                <div class="ano">
                    <p>2019</p>
                </div>
            </div>
            <p> "Mercy Part II", começa exatamente onde a primeira temporada terminou: com a surpreendente chegada de John Kreese ao dojo Cobra Kai. Johnny Lawrence fica chocado ao ver seu antigo sensei, que ele acreditava estar morto.</p>
        </div>

        <div class="ep2">
            <iframe src="https://www.youtube.com/embed/HgeCFK14fhQ?si=Xl4eCGA1M372zLNa" title="YouTube video player" frameborder="0"></iframe>
            <h3>Episódio 2</h3>
            <div class="info">

                <div class="c14">
                    <img src="../static/img/classificacao14.jpg" alt="14">
                </div>

                <div class="duracao">
                    <p>2 min</p>
                </div>

                <div class="ano">
                    <p>2019</p>
                </div>
            </div>
            <p>Back in Black", mostra Johnny tentando modernizar o Cobra Kai e adotar um novo estilo de liderança, tentando corrigir alguns dos erros do passado. Ele percebe que precisa atualizar o dojo e dar uma repaginada na imagem, então leva Miguel para comprar uma moto e começa a reformular sua abordagem de ensino.</p>
        </div>

        <div class="ep3">
            <iframe src="https://www.youtube.com/embed/R8VTDe8dVJA?si=jA9hnZ1F07Z0PnWB" title="YouTube video player" frameborder="0"></iframe>
            <h3>Episódio 3</h3>
            <div class="info">

                <div class="c14">
                    <img src="../static/img/classificacao14.jpg" alt="14">
                </div>

                <div class="duracao">
                    <p>4 min</p>
                </div>

                <div class="ano">
                    <p>2019</p>
                </div>
            </div>
            <p> "Fire and Ice", mostra a intensificação da rivalidade entre os dojos Cobra Kai e Miyagi-Do.

                Daniel LaRusso, determinado a atrair novos alunos para seu dojo, organiza uma demonstração pública no parque, onde ele e Robby exibem técnicas do Miyagi-Do para chamar a atenção de possíveis estudantes. </p>
        </div>

        <div class="ep4">
            <iframe src="https://www.youtube.com/embed/ib9k3NHUHg0?si=Kub0Tk1bAqBH1J37" title="YouTube video player" frameborder="0"></iframe>
            <h3>Episódio 4</h3>
            <div class="info">

                <div class="c14">
                    <img src="../static/img/classificacao14.jpg" alt="14">
                </div>

                <div class="duracao">
                    <p>3 min</p>
                </div>

                <div class="ano">
                    <p>2019</p>
                </div>
            </div>
            <p>"The Moment of Truth", mostra os dojos Cobra Kai e Miyagi-Do tentando recrutar novos alunos, enquanto a rivalidade entre eles continua a crescer.

                Daniel LaRusso e Robby conseguem atrair novos estudantes para o Miyagi-Do Karate, incluindo Chris e outros alunos que sofrem bullying no colégio. </p>
        </div>

    </div>
    <hr>
    <div class="temporada3">
        <h3>Temporada3</h3>
    </div>

    <div class="epizodios3">
        <div class="ep1">
            <iframe src="https://www.youtube.com/embed/Qk6rRssAWEI?si=BkgrkL9Hk3de7fCz" title="YouTube video player" frameborder="0"></iframe>
            <h3>Episódio 1</h3>
            <div class="info">

                <div class="c14">
                    <img src="../static/img/classificacao14.jpg" alt="14">
                </div>

                <div class="duracao">
                    <p>8 min</p>
                </div>

                <div class="ano">
                    <p>2019</p>
                </div>
            </div>
            <p> "Let's Begin"
                Johnny e Daniel tentam unir seus dojos para derrotar Cobra Kai no Torneio All Valley, mas já começam a ter desentendimentos por causa dos estilos de ensino diferentes. Enquanto isso, Kreese traz Terry Silver, seu antigo parceiro do Karatê Kid 3, de volta ao Cobra Kai, fortalecendo ainda mais o dojo.</p>
        </div>

        <div class="ep2">
            <iframe src="https://www.youtube.com/embed/R8HRKZsbVPA?si=EBxIWOcuPZr8CIy9" title="YouTube video player" frameborder="0"></iframe>
            <h3>Episódio 2</h3>
            <div class="info">

                <div class="c14">
                    <img src="../static/img/classificacao14.jpg" alt="14">
                </div>

                <div class="duracao">
                    <p>2 min</p>
                </div>

                <div class="ano">
                    <p>2019</p>
                </div>
            </div>
            <p>"First Learn Stand"
                Daniel e Johnny continuam brigando sobre como devem treinar os alunos, já que seus estilos são completamente diferentes. Daniel tenta ensinar Miguel com os métodos do Sr. Miyagi, enquanto Johnny leva os alunos do Miyagi-Do para um treinamento completamente louco no estilo Cobra Kai.</p>
        </div>

        <div class="ep3">
            <iframe src="https://www.youtube.com/embed/LvenzsrR6dI?si=mTug8QPB-6zi99lN" title="YouTube video player" frameborder="0"></iframe>
            <h3>Episódio 3</h3>
            <div class="info">

                <div class="c14">
                    <img src="../static/img/classificacao14.jpg" alt="14">
                </div>

                <div class="duracao">
                    <p>4 min</p>
                </div>

                <div class="ano">
                    <p>2019</p>
                </div>
            </div>
            <p> Learn Fly"
                A treta entre Daniel e Johnny só aumenta, porque cada um quer impor seu próprio jeito de ensinar. Johnny decide levar Miguel para um treino hardcore no estilo Cobra Kai, fazendo ele pular de um prédio para "aprender a voar" (claro que com colchões embaixo). </p>
        </div>

        <div class="ep4">
            <iframe src="https://www.youtube.com/embed/O8tvsTBlYqg?si=2eX21wYdZ8MLxIqZ" title="YouTube video player" frameborder="0"></iframe>
            <h3>Episódio 4</h3>
            <div class="info">

                <div class="c14">
                    <img src="../static/img/classificacao14.jpg" alt="14">
                </div>

                <div class="duracao">
                    <p>3 min</p>
                </div>

                <div class="ano">
                    <p>2019</p>
                </div>
            </div>
            <p>"Bicephaly"
                Johnny e Daniel tentam fazer uma última tentativa de trabalhar juntos e trocam de papéis: Johnny treina com os métodos de Miyagi-Do, enquanto Daniel experimenta o estilo agressivo do Cobra Kai. Mas como esperado, os dois continuam se estranhando e acabam seguindo caminhos separados. </p>
        </div>

    </div>



</section>

<footer>
    <div class="CobrakaiRodape">
        <div class="CobrakaiRodapeItens">
            <img src="../static/img/LogoCK.png" alt="RodapeImg">
            <h3>Todos os direitos Reservados  |  Cobra kai</h3>
            <img src="../static/img/NetflixLogo.png" alt="RodapeImg">
        </div>
    </div>
</footer>


</body>
</html>