<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bastidores</title>
    <link rel="stylesheet" href="../static/css/marcante.css">
</head>
<body>
<header class="cabecarioHeader">


    <div class="Menus">

        <div class="vermelho1">

        </div>

        <div>
            <nav>
                <ul>
                    <li class="menus"><a href="sobre.html">Sobre</a>
                    <li class="menus"><a href="elenco.html">Elenco</a>
                        <ul class="submenus">
                            <li class="submenu"><a href="diretor.html">Diretor</a></li>
                        </ul></li>
                    <li class="menus"><a href="galeria.html">Galeria</a>
                    <li class="menus"><a href="episodeos.html">Episódios</a>
                        <ul class="submenus">
                            <li class="submenu"><a href="galeria.html">Cenas Marcantes</a></li>
                        </ul></li>
                    <li class="menus"><a href="contato.html">Contato</a></li>
                </ul>
            </nav>
        </div>

        <div class="vermelho2">

        </div>

    </div>
</header>

<section class="conteudo">

    <div class="marcantes"><h2>Cenas Marcantes</h2></div>

    <div class="cenaMarcantes">


        <div class="CM1">
            <img src="../static/img/ckmarcante.jpg">
            <h3>Johnny Reabre o Cobra kai (Temporada 1)</h3>
        </div>

        <div class="CM2">
            <img src="../static/img/ckmarcante2.webp">
            <h3>Miguel luta contra valentões no refeitório (Temporada 1)</h3>
        </div>

        <div class="CM3">
            <img src="../static/img/ckmarcante3.webp">
            <h3>Torneio All Valley (Temporada 1)</h3>
        </div>

    </div>

    <div class="cenasMarcantes2">
        <div class="CM4">
            <img src="../static/img/ckmarcante4.webp">
            <h3>Briga Generalizada na escola (Temporada 2)</h3>
        </div>

        <div class="CM5">
            <img src="../static/img/ckmarcante5.webp">
            <h3>O retorno de Kreese (Temporada 2)</h3>
        </div>

        <div class="CM6">
            <img src="../static/img/ckmarcante6.jfif">
            <h3>Miguel Consegue voltar a andar (Temporada 3)</h3>
        </div>

    </div>
</section>

<hr>

<section class="Bastidores">
    <div class="basti"><h2>Bastidores</h2></div>

    <div class="errosG">

        <div class="erro1">
            <img src="../static/img/Bastidores1.webp">
        </div>


        <div class="erro2">
            <iframe src="https://www.youtube.com/embed/iWg2Bb6Xl6E?si=r3aItmATmGVKtR8N0"></iframe>
        </div>


        <div class="erro3">
            <img src="../static/img/bastidores2.jpg">
        </div>
    </div>

    <div class="errosG2">

        <div class="erro4">
            <img src="../static/img/bastidores3.webp">
        </div>


        <div class="erro5">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/1XEvOfVHpoA?si=MY0H1nlqklOd74HG"></iframe>
        </div>


        <div class="erro6">
            <img src="../static/img/bastidores4.jpg">
        </div>
    </div>
</section>

<section class="Cenario">
    <div class="cena">
        <h3>Cenário</h3>
    </div>
    <div class="cenaCK">
        <div class="cena1">
            <img src="../static/img/cenario1.jpg">
        </div>

        <div class="cena2">
            <img src="../static/img/cenario2.avif">
        </div>

        <div class="cena3">
            <img src="../static/img/cenario3.png">
        </div>

        <div class="cena4">
            <img src="../static/img/cenario4.webp">
        </div>

    </div>
</section>

<hr>

<section class="TrilhaSonora">
    <div class="tri">
        <h3>Trilha Sonora</h3>
    </div>

    <div class="music">

        <div class="music1">
            <iframe  src="https://www.youtube.com/embed/6uQ5Ck-Kqjc?si=5aCX1tknEKVctHsB"></iframe>
            <h3>Kiss It</h3>
        </div>

        <div class="music2">
            <iframe  src="https://www.youtube.com/embed/qHdWigcLsW8?si=ifDWEGYVN5HLKoSA"></iframe>
            <h3> Welcome to the Jungle Guns N' Roses</h3>
        </div>










    </div>


</section>










<footer>
    <div class="CobrakaiRodape">
        <div class="CobrakaiRodapeItens">
            <img src="../static/img/LogoCK.png" alt="RodapeImg">
            <h3>Todos os direitos Reservados  |  Cobra kai</h3>
            <img src="../static/img/NetflixLogo.png" alt="RodapeImg">
        </div>
    </div>
</footer>
</body>
</html>