<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sobre</title>
  <link rel="stylesheet" href="../static/css/EstiloHistoria.css">
</head>
<body>
<header class="cabecarioHeader">

  <div class="logo">
    <a href="../index.html"><img src="../static/img/LogoCK.png" alt="LogoCK"></a>
  </div>


  <div class="Menus">

    <div class="vermelho1">

    </div>

    <div>
      <nav>
        <ul>
          <li class="menus"><a href="sobre.html">Sobre</a>
          <li class="menus"><a href="elenco.html">Elenco</a>
            <ul class="submenus">
              <li class="submenu"><a href="diretor.html">Diretor</a></li>
            </ul></li>
          <li class="menus"><a href="galeria.html">Galeria</a>
          <li class="menus"><a href="episodeos.html">Episódios</a>
            <ul class="submenus">
              <li class="submenu"><a href="galeria.html">Cenas Marcantes</a></li>
            </ul></li>
          <li class="menus"><a href="contato.html">Contato</a></li>
        </ul>
      </nav>
    </div>

    <div class="vermelho2">
      .
    </div>

  </div>

</header>
<main>
  <section class="SobreCobraKai">
    <div class="SobreCobraKaiH1">
      <h1>Sobre a série Cobra Kai</h1>
    </div>

    <div class="sobre">
      <div class="SobreCobraKaitextos1">
        <p>Desde sua estreia em 2018, Cobra Kai conquistou o público ao revisitar o universo de Karatê Kid com uma nova
          perspectiva. A série, criada por Jon Hurwitz, Hayden Schlossberg e Josh Heald, resgata os personagens icônicos
          da franquia e os insere em uma narrativa contemporânea repleta de ação, drama e nostalgia.</p>
        <p>Ambientada mais de três décadas após os eventos do primeiro filme, a trama acompanha Johnny Lawrence (William
          Zabka), agora um homem de meia-idade que tenta reconstruir sua vida ao reabrir o dojo Cobra Kai. Seu retorno
          ao karatê desperta antigas rivalidades, especialmente com Daniel LaRusso (Ralph Macchio), que construiu uma
          carreira de sucesso, mas se vê novamente envolvido no conflito com seu antigo adversário. A série expande esse
          universo ao apresentar uma nova geração de alunos, incluindo Miguel Diaz (Xolo Maridueña), Robby Keene (Tanner
          Buchanan) e Samantha LaRusso (Mary Mouser), explorando temas como superação, amizade e moralidade no mundo das
          artes marciais.</p>
        <p>Originalmente lançada no YouTube Premium, a série ganhou ainda mais popularidade ao ser adquirida pela
          Netflix, tornando-se um fenômeno global e sendo indicada ao Emmy. Com uma legião de fãs e novos projetos a
          caminho, Cobra Kai continua provando que o legado de Karatê Kid segue mais vivo do que nunca.</p>
      </div>
      <div class="SobreCobraKaiimagem1">
        <img src="../static/img/imagemHistoriacomeco.jfif" alt="">
      </div>
    </div>
    <h2>História</h2>
    <div class="sobre">
      <div class="SobreCobraKaitextos2">
        <p>A história começa 34 anos após o torneio de All Valley de 1984, onde Daniel LaRusso derrotou Johnny
          Lawrence com o famoso "chute da garça". Agora, Johnny está no fundo do poço: desempregado, divorciado e
          vivendo em um pequeno apartamento. Daniel, por outro lado, se tornou um empresário de sucesso, dono de uma
          rede de concessionárias de carros.</p>
        <p>A vida de Johnny muda quando ele conhece Miguel Diaz, um adolescente tímido que sofre bullying. Johnny
          decide reabrir o dojo Cobra Kai para treinar Miguel e outros jovens que precisam de confiança. A filosofia
          agressiva do Cobra Kai ("Sem piedade!") começa a atrair alunos, incluindo Eli Moskowitz (que se transforma
          em Hawk) e Aisha Robinson. Enquanto isso, Daniel descobre que Cobra Kai voltou e decide ensinar karatê no
          estilo do Sr. Miyagi, treinando sua filha Samantha e Robby Keene (o filho de Johnny, que ele mal
          conhece).</p>
        <p>No torneio de All Valley, Miguel vence Robby na final, mas usa táticas desleais, mostrando como o Cobra Kai
          está corrompendo seus alunos.</p>
      </div>
      <div class="SobreCobraKaiimagem2">
        <img src="../static/img/cobra-kai-poster.png" alt="" class="fotoCobra">
      </div>
    </div>
    <div class="sobre">
      <div class="SobreCobraKaitextos3">
        <p>Johnny tenta reformar o Cobra Kai, ensinando seus alunos a lutarem com honra. No entanto, John Kreese,
          seu antigo sensei abusivo, retorna e começa a manipular os alunos para torná-los mais agressivos. Enquanto
          isso, a rivalidade entre os alunos do Cobra Kai e os do Miyagi-Do de Daniel cresce.</p>
        <p>Samantha começa a namorar Robby, enquanto Miguel tenta mudar, percebendo que o caminho do Cobra Kai pode
          estar errado. A temporada culmina em uma enorme briga na escola, onde Hawk e os alunos do Cobra Kai
          enfrentam os do Miyagi-Do.</p>
        <p>No clímax, Miguel luta contra Robby e, mesmo vencendo, mostra misericórdia. No entanto, Robby o ataca e
          Miguel cai da sacada da escola, ficando gravemente ferido. A briga destrói a reputação do karatê na
          cidade, e Kreese toma controle total do Cobra Kai, expulsando Johnny.</p>
      </div>
      <div class="SobreCobraKaiimagem3">
        <img src="../static/img/cobra-kai-1.png" alt="">
      </div>
    </div>
    <div class="sobre">
      <div class="SobreCobraKaitextos4">
        <p>Johnny se sente culpado pelo que aconteceu com Miguel e decide ajudá-lo a se recuperar. Ele cria um
          novo dojo, Eagle Fang Karate, para treinar alunos que não concordam com a brutalidade do Cobra Kai.
          Enquanto isso, Daniel viaja para Okinawa e reencontra Kumiko e Chozen (de Karatê Kid 2), aprendendo
          novas técnicas do karatê Miyagi. Robby, sentindo-se traído por todos, acaba sendo manipulado por Kreese
          e se junta ao Cobra Kai. No final da temporada, Johnny e Daniel percebem que não podem lutar contra
          Kreese sozinhos e decidem unir seus dojos para enfrentar Cobra Kai no próximo torneio de All Valley.</p>
        <p>Johnny e Daniel tentam ensinar seus alunos juntos, mas suas diferenças dificultam a colaboração.
          Kreese, por sua vez, traz Terry Silver, o vilão de Karatê Kid 3, para ajudá-lo a transformar Cobra Kai
          em uma força imbatível. O torneio de All Valley se torna a batalha definitiva. Hawk vence a categoria
          masculina, derrotando Robby, e Tory Nichols vence a feminina, derrotando Samantha. No entanto, Terry
          Silver manipula o torneio para garantir a vitória de Cobra Kai. No final, Kreese é traído por Silver,
          que o entrega à polícia e assume total controle do Cobra Kai. Johnny e Daniel percebem que sua luta
          contra Cobra Kai está longe de acabar.</p>
<!--        <p>Com Kreese preso, Terry Silver expande Cobra Kai pela cidade, tornando-se um império do karatê. Daniel-->
<!--          e Johnny tentam impedir, mas Silver é mais poderoso e até consegue fazer Daniel se afastar do karatê.-->
<!--          Miguel viaja para o México para encontrar seu pai, mas descobre que ele não é quem imaginava. Enquanto-->
<!--          isso, Robby tenta trazer Tory para o lado certo, pois ela descobre que Silver trapaceou no torneio. No-->
<!--          final, Kreese escapa da prisão e Daniel derrota Silver em um duelo épico usando técnicas aprendidas com-->
<!--          Chozen. Cobra Kai parece ter caído, mas Kreese ainda está à solta, prometendo mais problemas.-->
<!--        <p>A última temporada promete um torneio global, o Sekai Taikai, onde os melhores lutadores do mundo vão-->
<!--          competir. Johnny, Daniel e seus alunos terão que enfrentar novos desafios e inimigos para acabar com-->
<!--          Cobra Kai de uma vez por todas.</p>-->
      </div>
      <div class="SobreCobraKaiimagem4">
        <img src="../static/img/quando-estreia-a-parte-3-da-6a-e.png" alt="">
      </div>
    </div>
  </section>
</main>
<footer>
  <div class="CobrakaiRodape">
    <div class="CobrakaiRodapeItens">
      <img src="../static/img/LogoCK.png" alt="RodapeImg">
      <h3>Todos os direitos Reservados | Cobra kai</h3>
      <img src="../static/img/NetflixLogo.png" alt="RodapeImg">
    </div>
  </div>
</footer>
</body>
</html>